################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/RecordStore/obj/Debug
/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1
/RecordStore/bin
/RecordStore/obj/Release
/FinalProjectUpdated/bin/FinalProjectUpdated.dll
/FinalProjectUpdated/bin/FinalProjectUpdated.pdb
/FinalProjectUpdated/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/FinalProjectUpdated/obj/Debug/FinalProjectUpdated.csproj.AssemblyReference.cache
/FinalProjectUpdated/obj/Debug/FinalProjectUpdated.csproj.CopyComplete
/FinalProjectUpdated/obj/Debug/FinalProjectUpdated.csproj.CoreCompileInputs.cache
/FinalProjectUpdated/obj/Debug/FinalProjectUpdated.csproj.FileListAbsolute.txt
/FinalProjectUpdated/obj/Debug/FinalProjectUpdated.dll
/FinalProjectUpdated/obj/Debug/FinalProjectUpdated.pdb
*.mdf
*.ldf
*.bak
/FinalProjectUpdated/App_Data/RecordsStoreDB.mdf
/FinalProjectUpdated/.vs/FinalProjectUpdated.csproj.dtbcache.json
