h1 {
    text-align: center;
    margin-top: 50px;
    font-size: 55px;
    font-family: HMHAS;
    color: midnightblue;
}

.container1 {
    display: flex;
    flex-direction: row;
    direction: rtl;
    justify-content: space-between;
}

.info {
    font-family: Calibri;
    text-align: right;
    direction: rtl;
    font-size: 30px;
    margin-right: 150px;
    margin-top: 50px;
}

img {
    text-align: left;
    height: 450px;
    width: 450px;
    margin-left: 80px;
    margin-bottom: 70px;
    margin-top: 30px;
}

.tracklist {
    text-align: center;
    font-size: 25px;
    font-family: FineLine;
    margin-right: 85px;
    margin-top: 90px;
}

@font-face{
    font-family: HMHAS;
    src: url(../../../fonts/HitMeHardAndSoft.otf);
}


iframe {
    text-align: right;
    margin-top: 90px;
    margin-right: 55px;
}
