body {
    margin: 0;
    padding: 0;
    height: 50%;
    
}

.column {
    float: left;
    width: 33.33%;
    padding: 5px;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

img {
    width: 300px;
    height: 300px;
    margin-right: 70px;
    margin-left: 70px;
    
}

.img {
    text-align: center;
    font-family: Calibri;
    display: flex;
    flex-direction: column;
    align-items: center; /* Center align items horizontally */
    text-align: center; /* Center align text within the container */
}

.display {
    display: flex;
    align-items: center; /* Center align items horizontally */
    text-align: center; /* Center align text within the container */
}
