/* Reset CSS */
* {
box-sizing: border-box;
margin: 0;
padding: 0;
}

body {
font-family: Arial;
}




/* Navigation bar styles */
.navbar {
overflow: hidden;
background-color: salmon;
font-family: Arial;
}

.navbar a {
    float: right;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
    transition: background-color 0.3s;
    direction:rtl;
}

    .navbar a:hover {
        background-color: rgba(255, 255, 255, 0.3); /* Semi-transparent background on hover */
        color: white;
    }

.dropdown {
float: right;
overflow: hidden;
font-family: Arial;
}

.dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 20px;
    background-color: inherit;
    margin: 0;
    cursor: pointer;
    transition: background-color 0.3s;
}

.dropdown-content {
display: none;
position: absolute;
background-color: #f9f9f9;
min-width: 160px;
z-index: 1;
border-radius: 5px; /* Rounded corners for dropdown */
box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); /* Box shadow for dropdown */
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    transition: background-color 0.3s;
    direction:rtl;
}

    .dropdown-content a:hover {
        background-color: #ddd;
    }

.dropdown:hover .dropdown-content {
display: block;
}
