h1 {
    text-align: center;
    margin-top: 50px;
    font-size: 55px;
    font-family: BlueBanisters;
    font-weight: 1000;
}

.container1 {
    display: flex;
    flex-direction: row;
    direction: rtl;
    justify-content: space-between;
}

.info {
    font-family: Calibri;
    text-align: right;
    direction: rtl;
    font-size: 30px;
    margin-right: 150px;
    margin-top: 40px;
}

img {
    text-align: left;
    height: 450px;
    width: 450px;
    margin-left: 100px;
    margin-bottom: 70px;
    margin-top: 40px;
}

.tracklist {
    text-align: center;
    font-size: 25px;
    font-family: BlueBanisters;
    margin-right: 85px;
    margin-top: 40px;
    font-weight: 600;
}

@font-face{
    font-family: BlueBanisters;
    src: url(../../fonts/BlueBanisters.ttf);
}