h1 {
    text-align: center;
    margin-top: 50px;
    font-size: 75px;
    font-family: nfr;
}

.container1 {
    display: flex;
    flex-direction: row;
    direction: rtl;
    justify-content: space-between;
}

.info {
    font-family: Calibri;
    text-align: right;
    direction: rtl;
    font-size: 30px;
    margin-right: 150px;
    margin-top: 20px;
}

img {
    text-align: left;
    height: 450px;
    width: 450px;
    margin-left: 100px;
    margin-bottom: 70px;
    margin-top: 20px;
}

.tracklist {
    text-align: center;
    font-size: 18px;
    font-family: NFRtracklist;
    margin-right: 75px;
    margin-top: 80px;
}

@font-face{
    font-family: nfr;
    src: url(../../fonts/NFR.ttf);
}

@font-face{
    font-family: NFRtracklist;
    src: url(../../fonts/NFRtracklist.ttf);
}