body {
    background-color: silver;
    color: black;
    direction: rtl;
    font-family: Arial;
}

h1 {
    font-family: FrankRuehl;
    font-style: italic;
    font-size: 70px;
    text-align: center;
    margin-top: 70px;
}

table {
    margin-left: auto;
    margin-right: 750px;
    align-content: center;
    width: 600px;
    height: 500px;
    margin-top: 50px;
    font-size: 25px;
    font-family: Calibri;
    border-color:black;
}

input{
    margin-left: 50px;
    height: 22px;
}

tr {
    border: double;
    border-color: white;
}



