h1 {
    text-align: center;
    margin-top: 50px;
}

.Title1989 {
    font-family: TS1989;
    font-size: 100px;
    font-weight: 300;
}

.TaylorsVersion {
    font-family: TaylorsVersion;
    font-size: 30px;
    text-align: center;
    font-weight: 300;
}

.container1 {
    display: flex;
    flex-direction: row;
    direction: rtl;
    justify-content: space-between;
}

.info {
    font-family: Calibri;
    text-align: right;
    direction: rtl;
    font-size: 30px;
    margin-right: 150px;
    margin-top: 20px;
}

img {
    text-align: left;
    height: 450px;
    width: 450px;
    margin-left: 100px;
    margin-bottom: 70px;
    margin-top: 20px;
}

.tracklist {
    text-align: center;
    font-size: 18px;
    font-family: TaylorsVersion;
    margin-right: 85px;
    margin-top: 5px;
    font-weight: 100;
}


@font-face {
    font-family: TS1989;
    src: url(../../fonts/TS1989.ttf);
}

@font-face{
    font-family: TaylorsVersion;
    src: url(../../fonts/1989TVcaption.ttf)
}