h1 {
    text-align: center;
    margin-top: 25px;
    font-size: 150px;
    font-family: Lover;
    color: hotpink;
    font-weight: 500;
}

.container1 {
    display: flex;
    flex-direction: row;
    direction: rtl;
    justify-content: space-between;
}

.info {
    font-family: Calibri;
    text-align: right;
    direction: rtl;
    font-size: 30px;
    margin-right: 150px;
    margin-top: 20px;
}

img {
    text-align: left;
    height: 450px;
    width: 450px;
    margin-left: 100px;
    margin-bottom: 70px;
    margin-top: 20px;
}

.tracklist {
    text-align: center;
    font-size: 23px;
    font-family: LoverTracklist ;
    margin-right: 10px;
    margin-top: 5px;
    font-weight: 200;
}

@font-face{
    font-family: Lover;
    src: url(../../fonts/Lover.ttf);
}

@font-face{
    font-family: LoverTracklist;
    src: url(../../fonts/LoverTracklist.ttf);
}


iframe {
    text-align: right;
    margin-top: 90px;
    margin-right: 55px;
}
