h1 {
    text-align: center;
    margin-top: 30px;
    font-size: 110px;
    font-family: REP;
    letter-spacing: 10px;
}

.container1 {
    display: flex;
    flex-direction: row;
    direction: rtl;
    justify-content: space-between;
}

.info {
    font-family: Calibri;
    text-align: right;
    direction: rtl;
    font-size: 30px;
    margin-right: 150px;
    margin-top: 20px;
}

img {
    text-align: left;
    height: 450px;
    width: 450px;
    margin-left: 100px;
    margin-bottom: 70px;
    margin-top: 20px;
}

.tracklist {
    text-align: center;
    font-size: 37px;
    font-family: REPTracklist;
    margin-right: 85px;
    margin-top: 20px;
    direction: ltr;
    font-weight: 200;
    letter-spacing: 2px;
}



@font-face {
    font-family: REP;
    src: url(../../fonts/Reputation.ttf);
}

@font-face {
    font-family: REPTracklist;
    src: url(../../fonts/RepTracklist.ttf);
}
