
h1 {
    text-align: center;
    margin-top: 50px;
    font-size: 55px;
    font-family: HappierThanEver;
    color: peru;    
}

.container1 {
    display: flex;
    flex-direction: row;
    direction: rtl;
    justify-content: space-between;
}

.info {
    font-family: Calibri;
    text-align: right;
    direction: rtl;
    font-size: 30px;
    margin-right: 150px;
    margin-top: 20px;
}

img {
    text-align: left;
    height: 450px;
    width: 450px;
    margin-left: 100px;
    margin-bottom: 70px;
    margin-top: 20px;
}

.tracklist {
    text-align: center;
    font-size: 25px;
    font-family: tracklist;
    font-style: italic;
    margin-right: 85px;
    margin-top: 20px;
}

@font-face{
    font-family: HappierThanEver;
    src: url(../../fonts/HappierThanEver.ttf);
}

@font-face{
    font-family: tracklist;
    src: url(../../fonts/HappierThanEverTracklist.ttf);
}